{% extends 'base.html' %}
<script defer src="{{url_for('static',filename='js/scan.js')}}"></script>

{% block headContent %}
<style>
    input[type="file"]{
        display: none;
    }
    label{
    min-width: 100%;
    max-width: 50vw;
    height: 33vh;
    justify-content: center;
    border: 2px solid #6ae8fcb3;
    background-color: #333333;
    border-radius: 2rem;
    }
</style>
{% endblock%}
<h1>Scan Document</h1>
{% block content%}
<h2 class=' text-center'  style="  font-size: 2.2rem;width:auto" >
    &nbsp;&nbsp;&nbsp;&nbsp;Drop the Images in the Area Below! &nbsp;&nbsp;&nbsp;&nbsp;
</h2>
<br>
<br>
<div class='form-group '>

    <form id='main-form' action="#" method="post" enctype="multipart/form-data">
       
        <label for="fileInput" class="" >
            
        </label><br>
            <input size="60" class='form-control-file' id='fileInput' type="file" accept="image/*" multiple name="images"  required capture>
        <button class="btn btn-outline-warning btn-lg" id="submitButton" type='submit'>
            Submit
        </button>
    </form>
</div>


<br><br>
<div id="downloadlinks" class="text-left my-auto download-hidden">
	<p style="font-size:2rem;">
		Download Links To your Files:
	</p>
</div>
<div id='file-list-display'></div>
<script>
    const form = document.getElementById('main-form')
    const submitBtn = document.querySelector("#submitButton");
    const fileListDiv = document.querySelector("#file-list-display");
    const fileDownloadDiv = document.querySelector("#download_files")
    const fileInput = document.querySelector("#fileInput");
    const uploadFile = (files) => {
        console.log("Uploading file...");
        const API_ENDPOINT = "{{url_for('main.upload_images')}}";
        const request = new XMLHttpRequest();
        const formData = new FormData();

        request.open("POST", API_ENDPOINT, true);
        request.onreadystatechange = () => {
            if (request.readyState === 4 && request.status === 200) {
                response = JSON.parse(request.responseText)
                if (response.error == 0) {
                    //add the download link if successful!   This basically adds divs with a tags containing the download links
                    div = document.createElement('div')
                    a = document.createElement('a')
                    a.href = response.downloadUrl
                    a.text = "Click Here To Download PDF"
                    div.appendChild(a)
                    cont =document.getElementById('downloadlinks')
                    cont.classList.remove('download-hidden')
                    cont.appendChild(div)
                }
                form.reset()
            }
        };

        for (let i = 0; i < files.length; i++) {
            formData.append('images', files[i])
        }
        request.send(formData);
    };

    submitButton.addEventListener("click", event => {
        event.preventDefault();
        const files = fileInput.files;
        uploadFile(files);
    });
</script>
{% endblock content%}